# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Loading the Data and Selecting the Features

### Import Data

In [2]:
loan_data_inputs_train = pd.read_csv('C:/Credit Risk/loan_data_inputs_train.csv', index_col = 0)
loan_data_targets_train = pd.read_csv('C:/Credit Risk/loan_data_targets_train.csv', index_col = 0, header = None)
loan_data_inputs_test = pd.read_csv('C:/Credit Risk/loan_data_inputs_test.csv', index_col = 0)
loan_data_targets_test = pd.read_csv('C:/Credit Risk/loan_data_targets_test.csv', index_col = 0, header = None)

### Explore Data

In [3]:
loan_data_inputs_train.head()

,Unnamed: 0.1,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:>35
427211,427211,12796369,14818505,24000,24000,24000.0,36 months,8.90,762.08,A,...,0,0,0,0,0,0,0,1,0,0
206088,206088,1439740,1691948,10000,10000,10000.0,36 months,14.33,343.39,C,...,0,0,1,0,0,0,0,0,0,0
136020,136020,5214749,6556909,20425,20425,20425.0,36 months,8.90,648.56,A,...,0,0,0,0,1,0,0,0,0,0
412305,412305,13827698,15890016,17200,17200,17200.0,36 months,16.59,609.73,D,...,0,0,0,0,1,0,0,0,0,0
36159,36159,422455,496525,8400,8400,7450.0,36 months,12.84,282.40,C,...,0,0,0,0,0,0,0,0,1,0

In [4]:
loan_data_inputs_train.columns

Index(['Unnamed: 0.1', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       ...
       'dti:<=1.4', 'dti:1.4-3.5', 'dti:3.5-7.7', 'dti:7.7-10.5',
       'dti:10.5-16.1', 'dti:16.1-20.3', 'dti:20.3-21.7', 'dti:21.7-22.4',
       'dti:22.4-35', 'dti:>35'],
      dtype='object', length=152)

In [5]:
loan_data_targets_train.head()

        1
0
427211  1
206088  1
136020  1
412305  0
36159   0

In [6]:
loan_data_inputs_train.shape

(373028, 152)

In [7]:
loan_data_targets_train.shape

(373028, 1)

In [8]:
loan_data_targets_test.columns=['Target']

In [9]:
loan_data_targets_train.columns=['Target']

In [10]:
loan_data_inputs_test.shape

(93257, 152)

In [11]:
loan_data_targets_test.shape

(93257, 1)

### Selecting the Features

In [12]:
# Here we select a limited set of input variables in a new dataframe.
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: ,['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',

'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',

'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',

'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',

]]

In [13]:
# Here we select a limited set of input variables in a new dataframe.
inputs_test_with_ref_cat = loan_data_inputs_test.loc[: ,['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',

'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',

'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',

'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',

]]

In [14]:
predictors=['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',


'home_ownership:OWN',
'home_ownership:MORTGAGE',

'verification_status:Not Verified',
'verification_status:Source Verified',


'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',

'term:36',


'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',

'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',

'delinq_2yrs:0',
'delinq_2yrs:1-3',

'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',

'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',


]

In [15]:
ref_categories =['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',

'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',

'term:60',
'emp_length:0',

'int_rate:>20.281',

'delinq_2yrs:>=4',
'inq_last_6mths:>6',

'dti:>35']

In [16]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_test = inputs_test_with_ref_cat.drop(ref_categories, axis = 1)
# From the dataframe with input variables, we drop the variables with variable names in the list with reference categories. 
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,verification_status:Not Verified,verification_status:Source Verified,...,inq_last_6mths:3-6,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35
427211,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
206088,0,0,1,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
136020,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
412305,0,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
36159,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

# PD Model Estimation

## Logistic Regression

In [17]:
import statsmodels.api as sm
logit_model=sm.Logit(loan_data_targets_train,inputs_train)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.327680
         Iterations 7
                                  Results: Logit
===================================================================================
Model:                     Logit                 Pseudo R-squared:      0.050
Dependent Variable:        Target                AIC:                   244543.4115
Date:                      2019-10-07 11:11      BIC:                   244954.9290
No. Observations:          373028                Log-Likelihood:        -1.2223e+05
Df Model:                  37                    LL-Null:               -1.2873e+05
Df Residuals:              372990                LLR p-value:           0.0000
Converged:                 1.0000                Scale:                 1.0000
No. Iterations:            7.0000
-----------------------------------------------------------------------------------
                                     Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
-----------------------------------------------------------------------------------
grade:A                              0.4124   0.0871  4.7367 0.0000  0.2417  0.5830
grade:B                              0.5376   0.0579  9.2864 0.0000  0.4241  0.6510
grade:C                              0.4910   0.0543  9.0343 0.0000  0.3845  0.5975
grade:D                              0.4302   0.0521  8.2510 0.0000  0.3280  0.5324
grade:E                              0.2840   0.0466  6.0889 0.0000  0.1926  0.3754
grade:F                              0.0799   0.0484  1.6509 0.0988 -0.0150  0.1749
home_ownership:OWN                   0.1576   0.0198  7.9670 0.0000  0.1188  0.1964
home_ownership:MORTGAGE              0.2361   0.0118 20.0412 0.0000  0.2130  0.2592
verification_status:Not Verified     0.0363   0.0141  2.5831 0.0098  0.0088  0.0639
verification_status:Source Verified  0.1078   0.0129  8.3348 0.0000  0.0824  0.1331
purpose:credit_card                  0.4316   0.0279 15.4618 0.0000  0.3769  0.4863
purpose:debt_consolidation           0.3234   0.0257 12.5982 0.0000  0.2731  0.3737
purpose:oth__med__vacation           0.2807   0.0308  9.1056 0.0000  0.2203  0.3411
purpose:major_purch__car__home_impr  0.3412   0.0310 11.0041 0.0000  0.2804  0.4020
term:36                              0.0021   0.0134  0.1569 0.8753 -0.0242  0.0284
emp_length:1                         0.0929   0.0255  3.6391 0.0003  0.0429  0.1430
emp_length:2-4                       0.1260   0.0184  6.8391 0.0000  0.0899  0.1621
emp_length:5-6                       0.0647   0.0209  3.0923 0.0020  0.0237  0.1057
emp_length:7-9                       0.0940   0.0203  4.6297 0.0000  0.0542  0.1338
emp_length:10                        0.2065   0.0178 11.6239 0.0000  0.1717  0.2413
int_rate:<9.548                      1.5672   0.0722 21.7037 0.0000  1.4257  1.7088
int_rate:9.548-12.025                0.8489   0.0407 20.8389 0.0000  0.7691  0.9287
int_rate:12.025-15.74                0.4978   0.0337 14.7567 0.0000  0.4317  0.5640
int_rate:15.74-20.281                0.1287   0.0278  4.6328 0.0000  0.0742  0.1831
delinq_2yrs:0                       -0.1655   0.0490 -3.3758 0.0007 -0.2616 -0.0694
delinq_2yrs:1-3                     -0.0798   0.0504 -1.5839 0.1132 -0.1787  0.0190
inq_last_6mths:0                     1.0067   0.0745 13.5152 0.0000  0.8607  1.1527
inq_last_6mths:1-2                   0.8566   0.0744 11.5075 0.0000  0.7107  1.0025
inq_last_6mths:3-6                   0.6459   0.0755  8.5525 0.0000  0.4979  0.7939
dti:<=1.4                           -0.2861   0.0820 -3.4879 0.0005 -0.4469 -0.1253
dti:1.4-3.5                         -0.0978   0.0686 -1.4260 0.1539 -0.2323  0.0366
dti:3.5-7.7                         -0.0436   0.0589 -0.7408 0.4588 -0.1590  0.0718
dti:7.7-10.5                        -0.0945   0.0585 -1.6139 0.1065 -0.2092  0.0203
dti:10.5-16.1                       -0.1769   0.0566 -3.1264 0.0018 -0.2879 -0.0660
dti:16.1-20.3                       -0.2941   0.0568 -5.1803 0.0000 -0.4054 -0.1828
dti:20.3-21.7                       -0.3219   0.0595 -5.4089 0.0000 -0.4385 -0.2053
dti:21.7-22.4                       -0.3584   0.0636 -5.6315 0.0000 -0.4831 -0.2336
dti:22.4-35                         -0.3586   0.0563 -6.3665 0.0000 -0.4690 -0.2482
===================================================================================

In [28]:
from sklearn import linear_model

logreg=linear_model.LogisticRegression()


logreg.fit(inputs_train,loan_data_targets_train)

C:\Users\dpunj\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\dpunj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
predictions = logreg.predict_proba(inputs_test)
predictions_target = predictions[:,1]

In [31]:
from sklearn.metrics import roc_auc_score,roc_curve
auc = roc_auc_score(loan_data_targets_test, predictions_target)
print(round(auc,2))

0.67

In [38]:
#Predicted probabilty of loan being good that is probabiliyt that it will not default
predictions_target

array([0.90980314, 0.84896976, 0.90977994, ..., 0.97135713, 0.96440924,
       0.95322877])

In [ ]:
# We can select the optimum threshold to select cut off to classify loans into default and non default based on 
# how much senstivity and specificity we want